body{
    background: url(../SourceImg/scenery1.png);
    background-repeat: no-repeat;
    width: 99%;
    height: 100%;
    font-family: sans-serif;
    text-align: center;
}

p{
    text-align: center;
    color:rgb(12, 10, 8);
    font-size: 20px;
    background-color: aliceblue;
}

.h1mp{
    text-align: center;
    color:rgb(130, 96, 48);
}

ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:blanchedalmond;
  }
  
  li {
    text-align: center;
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color:bisque;
  }

* {box-sizing: border-box}

/* Full-width images with number and caption text */
.mySlides {
    width: 1000px; 
    height: 250px; 
    display: none;
    margin: auto;
}

.mySlides img {
    width: 100%;
    height: 100%;
    margin: auto;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center; /* Add this line to center horizontally */
    margin-bottom: 20px; /* Add this line to provide some space at the bottom */
}

.logo img {
    width: 100px;
}

